#root {
  color: #fff; /* Establece el color de texto para el elemento raíz */
  font-family: system-ui; /* Establece la fuente predeterminada para el elemento raíz */
}

.navbar {
  display: block; /* Cambia el comportamiento de la barra de navegación a bloque */
  background: #43a047; /* Establece el color de fondo para la barra de navegación */
  padding: 1.2rem; /* Agrega relleno a la barra de navegación */
  text-align: center; /* Centra el texto horizontalmente en la barra de navegación */
  font-size: x-large; /* Establece el tamaño de fuente grande para la barra de navegación */
}

a {
  text-decoration: none; /* Elimina la decoración de subrayado para los enlaces */
  color: #fff; /* Establece el color de texto para los enlaces */
}

h1 {
  text-align: center; /* Centra el texto horizontalmente */
  color: #43a047; /* Establece el color de texto para los encabezados h1 */
}

.card {
  transition: all 0.3s; /* Agrega una transición suave a todos los cambios de la tarjeta */
}

.card-img-overlay {
  display: flex; /* Utiliza el modelo de caja flexible para la superposición de imagen de la tarjeta */
  flex-direction: column; /* Establece la dirección de los elementos secundarios en columnas */
  justify-content: space-between; /* Distribuye uniformemente el espacio entre los elementos secundarios */
}

.card:hover {
  transform: scale(1.08); /* Escala la tarjeta al pasar el cursor sobre ella */
}

.card:hover .card-img {
  /* background-color: rgba(67, 160, 71, .5); */ /* Comentario: Se ha comentado el fondo de la imagen de la tarjeta */
  filter: brightness(50%); /* Reduce el brillo de la imagen de la tarjeta al pasar el cursor sobre ella */
}

.heart {
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono de corazón */
}
