body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
}

.App {
  font-family: "Maitree", serif; /* Establece la fuente predeterminada para la clase App */
  text-align: center; /* Centra el texto horizontalmente para la clase App */
  color: #43a047; /* Establece el color de texto para la clase App */
}

h1 {
  margin-bottom: 0; /* Elimina el margen inferior de los encabezados h1 */
}

/* Navbar */
a {
  text-decoration: none; /* Elimina la decoración de subrayado para los enlaces */
  color: white; /* Establece el color de texto para los enlaces */
}

.navbar {
  background: #43a047; /* Establece el color de fondo para la barra de navegación */
  padding: 20px; /* Agrega relleno interno a la barra de navegación */
  color: white; /* Establece el color de texto para la barra de navegación */
}

/* gallery */
.gallery {
  display: grid; /* Utiliza el sistema de cuadrícula para la galería */
  gap: 10px; /* Establece el espacio entre los elementos de la cuadrícula */
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr); /* Establece el diseño de 5 columnas para la cuadrícula */
}

.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr); /* Establece el diseño de 4 columnas para la cuadrícula */
}

.gallery .photo {
  cursor: pointer; /* Cambia el cursor al pasar sobre las fotos */
  padding: 10px 10px 0px 10px; /* Agrega relleno a las fotos */
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-direction: column; /* Establece la dirección de los elementos secundarios en columnas */
  justify-content: space-between; /* Distribuye uniformemente el espacio entre los elementos secundarios */
  align-items: flex-start; /* Alinea los elementos secundarios al principio del contenedor */
  height: 200px; /* Establece la altura de las fotos */
  background-size: cover; /* Escala la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  color: white; /* Establece el color de texto para las fotos */
  text-align: left; /* Alinea el texto a la izquierda */
  text-shadow: 0px 0px 15px black; /* Agrega sombra al texto */
}

.gallery .photo:hover {
  box-shadow: 0px 0px 2px 1px black; /* Agrega una sombra al pasar el cursor sobre las fotos */
}

.gallery .photo svg {
  align-self: flex-end; /* Alinea el icono de corazón al final del contenedor */
}

.p-3 {
  padding: 30px; /* Agrega relleno a los elementos con la clase p-3 */
}
